.stacked
  display: flex
  flex-direction: column

.main
  display: grid
  grid-template-areas: "header header score" "main main main" "footer footer footer"
  .userName
    grid-area: header
  .score
    grid-area: score
    font-size: 1.8rem
    font-style: italic
  .guessing
    .speakingVoice
      font-size: 1.8rem
      font-style: italic
    .choices
      display: grid
      grid-template-columns: 120px 100px
      .guessWord
        user-select: None
        font-size: 1.2rem
        margin-bottom: 10px
      .guessLetter
        margin-right: 1em
      .guessLetter:hover
        color: red
        font-weight: bold
      button
        margin-left: 20px
        margin-bottom: 10px
  .help
    font-style: italic
    grid-area: footer
