.helloPage *
  font-size: 1.3rem
.helloPage > *
  margin: 1rem
.helloPage
  .startButton
    padding: 1rem
.main > *
  font-size: 1.3rem
.main
  display: grid
  grid-template-areas: "header header score" "main main main" "footer footer footer"
  .userName
    grid-area: header
  .score
    grid-area: score
    font-size: 1.8rem
    font-style: italic
  .guessing
    grid-area: main
    .speakingVoice
      font-size: 1.8rem
      font-style: italic
    .choices
      display: grid
      grid-template-columns: 15rem 15rem
      .guessWord
        user-select: None
        font-size: 1.2rem
        margin-bottom: 10px
      .guessLetter
        padding: 10px
        position: relative
        top: calc(50% - 1.2rem)
        transform: translateY(-50%)

      .guessLetter:hover
        color: red
        font-weight: bold
        border: thin solid red
      .guessButton
        font-size: 1.3rem
        padding: 1rem
        margin-left: 20px
        margin-bottom: 10px
  .help
    font-style: italic
    grid-area: footer
