@keyframes slideIn
   0%
      transform: translateY(-100vh)
   100%
      transform: translateY(0)

.helloPage
  animation: slideIn 1s
  display: grid
  grid-template-areas: "h h h" "d d b"
  *
    font-size: 1.3rem
  > *
    margin: 1rem
  .header
    grid-area: h
    display: flex
    .settings
      flex: 0 1 auto
    .greeting
      flex: 1 1 auto
  .startButton
    grid-area: b
    padding: 1rem

.main > *
  font-size: 1.3rem

.main
  animation: slideIn 1s
  display: grid
  grid-template-areas: "header" "main" "footer"
  row-gap: 10px
  .header
    display: flex
    gap: 15px
    grid-area: header
    font-size: 1.8rem
    .score
      font-style: italic
    > *
      flex: 0 1 auto
    .userName
      flex: 1 1 auto
      user-select: None
      font-size: 1.8rem
    .userName:hover
      color: red
      font-weight: bold
  .guessing
    grid-area: main
    button
      font-size: 1.3rem
      padding: 1rem
    .speakingVoice
      font-size: 1.8rem
      font-style: italic
    .choices
      display: grid
      grid-template-columns: 14rem auto 1fr
      .guessWord
        grid-column: 1
        user-select: None
        font-size: 1.2rem
        margin-bottom: 10px
      .guessLetter
        padding: 10px
        position: relative
        top: calc(50% - 1.2rem)
        transform: translateY(-50%)

      .guessLetter:hover
        color: red
        font-weight: bold
        border: thin solid red
      .guessButton
        margin-left: 20px
        margin-bottom: 10px
  .help
    font-style: italic
    grid-area: footer
